<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width" name="viewport"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="shortcut icon" href="<%= root %>images/siteLogo.png" type="image/x-icon">
<!-- 从桌面 icon 启动 iOS Safari 是否进入全屏状态（App模式） yes | no-->
<meta content="yes" name="apple-mobile-web-app-capable"/>
<!-- iOS Safari 全屏状态下的状态栏样式  default | balck | black-translucent-->
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
<!-- iOS 设备上禁止将数字识别为可点击的 tel link -->
<meta content="telephone=no" name="format-detection"/>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="<%= root %>css/main.min.css" />